* {
    margin: 0;
    padding: 0;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}

.brewery-button,
.go-back-button {
    border-radius: 100px
}

.button-design {
    background-color: grey;
    border-radius: 100px;
    box-shadow: grey;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
}

#results-container ul {
    border-bottom: 3px solid black;
    border-width: 0.5vw;
}

#results-container ol {
    font-weight: 50px;
    list-style-position: inside;
    list-style-type: square;
}

#results-container ol li {
    list-style: none;
    text-align: center;
}